.card1{
    border: none;
}

/* imagem utilizador */
.user-avatar img{
    align-items: center;
    max-width: 270px; /* (tamanho maximo da imagem) */
    margin-bottom: 25px; /* (distancia entre a foto e o texto) */
}

/* nome e email do utilizador por baixo da foto */
.user-profile h5{
    font-size: 25px;
    text-align: center;
}
.user-profile h6{
    text-align: center;
}

.user-profile .btn{
    margin-top: 10px;
    margin-left: 80px;
}

/* Tamanho do titulo */
.card-body2 h6{
    font-size: 22px;
}

.card-body2{
    padding: 15px 0 0 15px;
}

.form-group{
    padding-bottom: 15px;
}

/* bordas da caixa ao passar o rato por cima */
:placeholder-shown:hover{
    border-color: rgb(18, 48, 219);
}

/* margem dos botões */
.btn{
    margin-bottom: 20px;
    color: white;
}

.btn:hover{
    color: white;
}