.text-right{
    font-size: 40px;
}

.form-control::placeholder{
    font-size: 10px;
}

.form-control:focus {
    box-shadow: none;
    border-color: rgba(236, 188, 28, 0.966);
}

.profile-button {
    background: rgba(236, 188, 28, 0.966);
    box-shadow: none;
    border: none;
}

.profile-button:hover {
    background: rgba(236, 188, 28, 0.966)
}

.profile-button:focus {
    background: rgba(236, 188, 28, 0.966);
    box-shadow: none;
}

.profile-button:active {
    background: rgba(236, 188, 28, 0.966);
    box-shadow: none;
}

.back:hover {
    color: rgba(236, 188, 28, 0.966);
    cursor: pointer;
}

.labels {
    font-size: 17px;
}

.add-experience:hover {
    background: rgba(236, 188, 28, 0.966);
    color: #fff;
    cursor: pointer;
    border: solid 1px rgba(236, 188, 28, 0.966);
}

.mt-3 .labels{
    padding-top: 14px;
}