/* imagem utilizador */
.user-avatar img{
    max-width: 270px; /* (tamanho maximo da imagem) */
    margin-bottom: 25px; /* (distancia entre a foto e o texto) */
}

/* nome e email do utilizador por baixo da foto */
.user-profile h5{
    font-size: 25px;
    text-align: center;
}
.user-profile h6{
    text-align: center;
}

/* Tamanho do titulo */
.card-body2 h6{
    font-size: 25px;
}

.card-body2{
    padding: 15px 0 0 15px;
}

.form-group{
    padding-bottom: 10px;
}

/* bordas da caixa ao passar o rato por cima */
:placeholder-shown:hover{
    border-color: rgb(131, 147, 238);
}

/* margem dos botões */
.btn{
    margin-bottom: 20px;
}
/* cor dos botões ao passar o rato por cima */
.btn:hover{
    background-color: rgb(255, 187, 0);
    border-color: rgb(255, 187, 0);
}